<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
@* Header *@
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><ya-tr-span data-index="0-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Shura" data-translation="Шура" data-type="trSpan">Шура</ya-tr-span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Переключение навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-type="trSpan">Главная</ya-tr-span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Cars" data-translation="Машины" data-type="trSpan">Машины</ya-tr-span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/electro"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Electro" data-translation="Электро" data-type="trSpan">Электро</ya-tr-span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/fuel"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Fuel" data-translation="Бензиновые" data-type="trSpan">Бензиновые</ya-tr-span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ShopCart/"><ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Baskets" data-translation="Корзиан" data-type="trSpan">Корзиан</ya-tr-span></a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="submit"><ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Search" data-translation="Поиск" data-type="trSpan">Поиск</ya-tr-span></button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5">
    @RenderBody()
</div>
@* footer *@
<footer class="container">
    <p class="float-end"><a href="#"><ya-tr-span data-index="30-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Back to top" data-translation="Наверх" data-type="trSpan">Наверх</ya-tr-span></a></p>
    <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="© 2021 This site is not cheating . · " data-translation="© 2021 Этот сайт не обманывает · " data-type="trSpan" data-selected="false">© 2017-2021 Этот сайт не обманывает. · </ya-tr-span>><a href="#">Соглашение</a></p>
</footer>
<script src="~/js/bootstrap.min.js"></script>
</body>
</html>
